@tailwind base;
html {
  scroll-behavior: smooth;
}

.dark {
  --color-bg-primary: #464a4d;
  --color-bg-secondary: #2e3032;
  --color-bg-resume: #36454f;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-bg-resume: #c8cfd0;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

@font-face {
  font-family: Raleway;
  src: url("./assets/fonts/Raleway.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./style/opening.css";
@import "./style/hero.css";
@import "./style/hamburger-button.css";
@import "./style/mobile-menu.css";
@import "./style/projects.css";
@import "./style/contact.css";
@import "./style/footer.css";
@import "./style/sticky-menu.css";

@layer base {
  h1 {
    @apply mb-0 mt-10 pb-10 text-center text-4xl uppercase transition-all duration-700 md:pt-14 md:text-6xl;
  }
}
